<!DOCTYPE html>
<html>
<head>
  <title>BackChannelApp</title>

</head>
<body style="background-color: #cd5c5c;">

<p style="font-family:verdana;font-size:25;color:red;background-color: black;" align="center"  >
 Online Backchannel Application
</p>

<% puts "in heroku"%>
<%=form_tag(:controller=>"posts", :action=>"find") do%>
<p align="right" style="background-color: gray;">
<%= label_tag(:q, "Search:") %>

    <select name="Search">
    <option>View All</option>
    <option value="name">Name</option>
    <option value="post">Post</option>
    </select>
    <%= text_field_tag(:text) %>

   <%= submit_tag("Search") %>
</p>
<%end %>

<%= yield %>

</body>
</html>
